@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    opacity: 0; 
    transition: opacity 0.3s ease;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

body.fade-in {
    opacity: 1 !important;
}

#chat-container {
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}

/* Esconde a barra de rolagem para um visual mais limpo */
#chat-window {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#chat-window::-webkit-scrollbar {
    display: none;
}

.bot-message, .user-message {
    padding: 12px 18px;
    border-radius: 20px;
    max-width: 85%;
    line-height: 1.5;
    word-wrap: break-word;
}

.user-message {
    background-color: #6f4bc9;
    color: #ffffff;
    border-bottom-right-radius: 5px;
}

.bot-message {
    background-color: #1b1a32;
    color: #e0e0e0;
    border-bottom-left-radius: 5px;
}

#input-area {
    border-top: 1px solid #2a2a47;
    background-color: #0f0f1b;
}

#user-input.form-control {
    background-color: #2a2a47;
    color: #e0e0e0;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    padding: 10px 20px;
}

#user-input.form-control:focus {
    background-color: #2a2a47;
    color: #e0e0e0;
    box-shadow: 0 0 0 0.12rem rgba(152, 111, 255, 0.449);
    border: none;
}

#user-input.form-control::placeholder {
    color: #d0d0d0;
}

#send-btn.btn {
    background-color: #6f4bc9;
    color: #ffffff;
    width: 54px;
    height: 50px;
    padding: 0;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(111, 75, 201, 0.25);
}

#send-btn.btn:hover, #send-btn.btn:active {
    background-color: #8757ff;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(111, 75, 201, 0.6);
}

.thinking-dots .dot {
    display: inline-block;
    animation: jump 1.4s infinite;
    position: relative;
}

.thinking-dots .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.thinking-dots .dot:nth-child(3) {
    animation-delay: 0.4s;
}

/* A animação que move os pontos para cima e para baixo */
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}